[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "spacemacs/.emacs.d/private/supercollider"]
	path = spacemacs/.emacs.d/private/supercollider
	url = https://github.com/djiamnot/spacemacs-supercollider.git
[submodule "spacemacs/.emacs.d/private/godot-gdscript.el"]
	path = spacemacs/.emacs.d/private/godot-gdscript.el
	url = https://github.com/djiamnot/godot-gdscript.el
[submodule "spacemacs/.emacs.d/private/ob-sclang"]
	path = spacemacs/.emacs.d/private/ob-sclang
	url = https://github.com/djiamnot/ob-sclang
